version: '2'
services:
  jupyter:
    image: tf_jupyter_anaconda
    restart: always
    ports:
      - "8888:8888"
    volumes:
      - "/tmp/tensorflow_logs"
      - "/notebooks:/notebooks"
    command:
      - "/opt/conda/bin/jupyter"
      - "notebook"
      - "--notebook-dir=/notebooks"
      - "--ip='*'"
      - "--port=8888"
      - "--no-browser"
  tensorboard:
    image: tf_jupyter_anaconda
    restart: always
    ports:
      - "6006:6006"
    volumes_from:
      - jupyter
    command:
      - "tensorboard"
      - "--logdir"
      - "/tmp/Signal_DL_Enhance"
      - "--host"
      - "0.0.0.0"
